<div *ngIf="formulario" class="container__formulario">
    <div class="container__button__header">
        <button routerLink="/lista-producto" mat-stroked-button color="primary">Volver</button>
    </div>
    <h1 class="title__formulario">{{producto?'Actualizar':'Nuevo'}} producto</h1>
    <form [formGroup]="formulario" class="formulario__producto" (ngSubmit)="guardar()" autocomplete="off">
        <div class="container__group__row">
            <div class="group__row__imput w-50">
                <div class="container__group">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Nombre</mat-label>
                        <input matInput type="text" formControlName="nombre" placeholder="Nombre" (keyup)="crearRuta()">
                        <mat-error>
                            <ng-container *ngIf="controlError('nombre','required')">
                                Este campo es obligatorio
                            </ng-container>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="container__group">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Ruta</mat-label>
                        <input matInput type="text" formControlName="nombreruta" placeholder="Ruta">
                        <mat-error>
                            <ng-container *ngIf="controlError('nombreruta','required')">
                                Este campo es obligatorio
                            </ng-container>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="container__group">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Categoria</mat-label>
                        <!--multiple-->
                        <mat-select formControlName="categorias">
                            <mat-option *ngFor="let categorias of categoria" [value]="categorias.idcategorias">
                                {{categorias.desccategoria}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Laboratorio</mat-label>
                        <mat-select formControlName="laboratorio">
                            <mat-option *ngFor="let laboratorios of laboratorio" [value]="laboratorios.idlaboratorio">
                                {{laboratorios.deslaboratorio}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="container__group">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Registro Sanitario</mat-label>
                        <input matInput type="text" formControlName="registrosanitario" placeholder="Registro">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Stock </mat-label>
                        <input matInput type="number" formControlName="stock" placeholder="Stock">
                        <mat-error>
                            <ng-container *ngIf="controlError('stock','required')">
                                Este campo es obligatorio
                            </ng-container>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="container__group">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Precio normal </mat-label>
                        <input matInput type="number" formControlName="precionormal" placeholder="Precio" step="0.01">
                        <mat-error>
                            <ng-container *ngIf="controlError('precionormal','required')">
                                Este campo es obligatorio
                            </ng-container>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Descuento</mat-label>
                        <input matInput type="number" formControlName="preciorebajado" placeholder="Precio" step="0.01">
                    </mat-form-field>
                </div>
            </div>
            <div class="group__row__image w-50">
                <div *ngIf="formulario.controls['urlproducto'].value;else imageEmpty">
                    <lib-ngx-image-zoom [thumbImage]="formulario.controls['urlproducto'].value |apiImg"
                        [fullImage]="formulario.controls['urlproducto'].value |apiImg" [magnification]=".6"
                        [enableScrollZoom]="false" [enableLens]="true" [lensWidth]="240" [lensHeight]="150">
                    </lib-ngx-image-zoom>
                </div>
                <ng-template #imageEmpty>
                    Sin imagen
                </ng-template>
            </div>
        </div>
        <div class="container__group">
            <mat-form-field appearance="outline" class="w-25">
                <mat-label>Tipo de Presentación</mat-label>
                <input matInput type="text" formControlName="tipopresentacion" placeholder="Presentación">
                <mat-error>
                    <ng-container *ngIf="controlError('tipopresentacion','required')">
                        Este campo es obligatorio
                    </ng-container>
                </mat-error>          
            </mat-form-field>
            <div class="mb-3">
                <label class="label__file__image">Imagen</label>
                <div class="container__input__file">
                    <button type="button" mat-raised-button (click)="archivoImagenInputFile.click()">Seleccionar archivo</button>
                <div *ngIf="formulario.controls['urlproducto'].valid">
                    El archivo ha sido subido: {{formulario.controls['urlproducto'].value}}
                </div>
                </div>
                <mat-error *ngIf="controlError('urlproducto','required')&& formulario.controls['urlproducto'].touched" style="font-size: 10.5px;margin-top: 5px;">
                    Este campo es obligatorio
                </mat-error>
                <input type="file" accept="image/*" (change)="subirImagen($event)" class="form-control d-none" #archivoImagenInputFile>
            </div>

        </div>

        <div class="container__group">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Descripcion Corta</mat-label>
                <textarea rows="5" matInput type="text" formControlName="descripcioncorta"
                    placeholder="Descripcion"></textarea>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Descripcion Larga</mat-label>
                <textarea rows="5" matInput type="text" formControlName="descripcionlarga"
                    placeholder="Descripcion"></textarea>
            </mat-form-field>
        </div>
        <div class="container__group">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Composición</mat-label>
                <textarea rows="5" matInput type="text" formControlName="composicion"
                    placeholder="Composición"></textarea>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Contraindicaciones</mat-label>
                <textarea rows="5" matInput type="text" formControlName="contraindicaciones"
                    placeholder="Contraindicaciones"></textarea>
            </mat-form-field>
        </div>
        <div class="container__group">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Precaución</mat-label>
                <textarea rows="5" matInput type="text" formControlName="precaucion"
                    placeholder="Precaución"></textarea>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Modo de Uso</mat-label>
                <textarea rows="5" matInput type="text" formControlName="modouso" placeholder="Modo de Uso"></textarea>
            </mat-form-field>
        </div>
        <div class="container__group">
        </div>
        <div class="container__button">
            <button type="button" mat-raised-button color="warn" (click)="fire()">Cancelar</button>
            <button mat-raised-button color="primary">{{producto?'Actualizar':'Guardar'}} producto</button>
        </div>
    </form>
    <div>

    </div>
</div>