<nav class="nav__menu">
    <div class="container__nav">
        <div class="container__logo">
            <div class="hearder__titulo">
                <a class="titulo__a" routerLink="/dashboard">Cibersalud</a>
            </div>
            <a class="logo__header" routerLink="/dashboard"></a>
        </div>
        <ul class="list">
            <li class="list__item list__item--click">
                <div class="list__button list__button--click">
                    <i class="fas fa-hospital-alt"></i>
                    <div class="nav__link">Servicios</div>
                    <i class="fas fa-arrow-right list__arrow"></i>
                </div>
                <ul class="list__show">
                    <li class="list__inside"><a href="registro_profesio.jsp" class="nav__link nav__link--inside">Estoy
                            dentro </a></li>
                    <li class="list__inside"><a href="laboratorioRegistro.html"
                            class="nav__link nav__link--inside">Laboratorio </a></li>
                    <li class="list__inside"><a href="topico.jsp" class="nav__link nav__link--inside">Topico</a>
                    </li>
                </ul>
            </li>
            <li class="list__item">
                <div class="list__button list__button--click">
                    <i class="fas fa-first-aid"></i>
                    <div class="nav__link">Farmacia</div>
                    <i class="fas fa-arrow-right list__arrow"></i>
                </div>
                <ul class="list__show list__item--click">
                    <li class="list__inside"><a routerLink="/dashboard/lista-producto"
                            class="nav__link nav__link--inside">Catálogo
                            Medicamentos</a></li>
                    <li class="list__inside"><a th:href="@{/dataMarca}" class="nav__link nav__link--inside">Catálogo
                            Laboratorios</a></li>
                    <li class="list__inside"><a href="#" class="nav__link nav__link--inside">Consulta</a></li>
                </ul>
            </li>
            <li class="list__item">
                <div class="list__button list__button--click">
                    <i class="fas fa-user-injured"></i>
                    <div class="nav__link">Paciente</div>
                    <i class="fas fa-arrow-right list__arrow"></i>
                </div>
                <ul class="list__show list__item--click">
                    <li class="list__inside"><a th:href="@{/paciente/registro}"
                            class="nav__link nav__link--inside">Registro
                            Pacientes</a></li>
                    <li class="list__inside"><a th:href="@{/paciente/consulta}"
                            class="nav__link nav__link--inside">Busqueda
                            Pacientes</a></li>
                </ul>
            </li>
            <li class="list__item">
                <div class="list__button list__button--click">
                    <i class="fas fa-hospital-user"></i>
                    <div class="nav__link">Citas</div>
                    <i class="fas fa-arrow-right list__arrow"></i>
                </div>
                <ul class="list__show list__item--click">
                    <li class="list__inside"><a href="citaLogin.jsp" class="nav__link nav__link--inside">Registro
                            Citas</a></li>
                    <li class="list__inside"><a href="#" class="nav__link nav__link--inside">Busqueda Citas</a>
                    </li>
                    <li class="list__inside"><a href="citserv?opcion=lb" class="nav__link nav__link--inside">Bandeja
                            de entrada</a></li>
                </ul>
            </li>
            <li class="list__item">
                <div class="list__button">
                    <i class="fas fa-cart-plus"></i>
                    <div class="nav__link">Venta</div>
                </div>
            </li>
        </ul>
    </div>

</nav>