$color: #fff;

.container__login {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;

	.contenedor__formulario {
		width: 30%;
		height: 100%;
		right: 1%;
		position: absolute;
		background-color: rgb(4, 14, 51, 0.4);
		color: #fff;
		display: flex;

	}
}

.contain__login {
	width: 80%;
	margin: auto;

	.cotenedor__titulos {
		text-align: center;

		.titulos-h1 {
			font-weight: 600;
			margin: 0;
		}

		.titulos-h3 {
			font-size: 1.2vw;
			padding: 1rem 0;
		}
	}

	.form__loguin {
		width: 100%;

		.contenedor__form-input {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;

			.div-lbl-lbl {
				width: 100%;

				.lbl-input {
					text-align: left;
					font-size: 13px;
					margin-bottom: 5px;
				}
			}

			.input-logueo {
				width: 100%;
				min-height: 2.2rem;
				border: none;
				border-bottom: 1px solid #bbb;
				border-radius: 0.25rem;
				transition: box-shadow 300ms ease-out;

				&:focus {
					outline: none;
					box-shadow: 0px 0px 5px var(--color-app);
				}
			}

			.invalid-feedback {
				display: block;
				min-height: 20px;
			}

			.login__haserror {
				font-size: 12px;
				margin-top: 5px;
			}

			.password {
				width: 100%;
				display: flex;
				align-items: center;
				position: relative;

				.span-eye {
					float: right;
					right: 15px;
					display: inline;
					position: absolute;
				}

				#eye {
					cursor: pointer;

				}
			}

		}
	}

}





/******************FOOTER*********************************/
.footer__login {
	width: 100%;
	position: absolute;
	bottom: 0;
	background-color: rgb(4, 14, 51, 0.4);

	.footer__copy__login {
		width: 80%;
		margin: 1rem auto;
		display: flex;
		align-content: center;
		flex-grow: 1;

		p {
			font-size: 14px;
			color: #fff;
			margin: 0;
		}
	}
}

/********************RESPONSIVE***************************/
@media (max-width:450px) {

	.main {
		height: 70vh;
	}

	.contenedor__formulario {
		width: 100%;
		height: 70%;
		right: 0;
		position: absolute;
		background-color: rgb(4, 14, 51, 0.4);
		color: #fff;
		display: flex;
	}

	.titulos-h1 {
		font-size: 2.5rem;
		font-weight: 600;
		margin: 0;
	}

	.titulos-h2 {
		color: #AA0000;
		font-size: 1.7rem;
	}

	.titulos-h3 {
		font-size: 1.2rem;
		padding: 1rem 0;
	}

	.contenedor__form-input {
		width: 100%;
		display: flex;
	}

	.form-row {
		width: 100%;
	}

	.form-control {
		width: 60%;
	}

	.form__icon {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.form__icon .fa-solid {
		font-size: 2rem;
	}

	.footer {
		width: 100%;
		height: 30vh;
		font-size: .8rem;
		margin-top: auto;

	}

	.footer__contenedor {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		color: #fff;
	}

	.footer__redes {
		width: 100%;
	}

	.footer__contacto {
		width: 100%;
	}

	.footer__copy {
		width: 100%;
		margin: auto;
		text-align: center;
	}

	.footer__copy p {
		padding: 0;
	}

	.footer__copy {}
}